div.window-content {
    /*margin: 10px 10px 10px 10px ;*/
}
div.pane {
    padding: 10px 10px 10px 10px ;
}
div#current_world {
    display: none;
}
fieldset {
    border: none;
}


.display-value {
  display: inline-block;
  /*width: 100%;*/
  min-height: 25px;
  padding: 5px 5px;
  font-size: 13px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  text-align: center;
}


#display-trainer-effect {
    width: 25%;
}

#trainer-effect {
    width: 70%;
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #fff;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 18px;
  width: 24px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
span.accesskey {
    text-decoration: underline;
}

.section-label {
    font-weight: bold;
}
div.section+div.section {
    padding-top: 30px;
}



 /* .list-group-item:hover strong {
  white-space: normal ;
  overflow: visible;
}  */

.choice-list .list-group-header {
  font-size: 14px;
  background-color: #f5f5f4;
  margin-top: 20px;
}

.choice-list.cycling .list-group-header {
  background-color: #f5f5f4;
}

.choice-list.running .list-group-header {
  background-color: #a5a5a5;
}

.choice-list .list-group-header > i.fa {
    margin-left: -5px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
    color: inherit;
}

.choice-list .list-group-item {
    padding-left: 5px;
    border: 1px solid lightgrey;
    border-top: none;
}

.choice-list.list-group {
    
}

.choice-list.list-group.collapsed > .list-group-item{
    display: none;
}

.window-content {
    display: none;
}
.window-content.active {
    display: block;
}


#route-world {
    padding-bottom: 15px;
}
#route-name {
    font-weight: bold;
    padding-bottom: 10px;
}
#route-text {
    padding-bottom: 10px;
}
#route-link {
 font-size: 11px;
}

.remote-link {
    padding-top: 15px;
    font-size: 11px;
}

#route-description {
    margin-bottom: 25px;
    display: none;
    background-color: #f5f5f4;
    padding: 5px;
}

#route-description.active {
    display: block;
}


#events {
    display: block;
    padding-top: 5px;
}
.event {
    padding-top: 8px;
}
.event-start {
    display: inline-block;
    width: calc(100% - 20px);
}
.event-name {
     font-size: smaller; 
    display: inline-block;
    font-weight: normal;
    width: calc(100% - 20px);
}
.event > .icon {
    display: inline-block;
    width: 20px;
    vertical-align: top;
}

a, a:link, a:visited, a:active {
    color: inherit;
}
a:hover, a i:hover {
    cursor: pointer;
}



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }